
//color fondo contenedores
$colorUno: rgb(5, 84, 13);
//color fondo items
$colorDos: rgb(21, 102, 29);
//color letra
$colorTres: rgb(228, 228, 228);
//color letra navbar
$colorCuatro: rgb(126, 89, 9);
//color btns
$colorCinco: rgb(90, 199, 88);
//color fondo
$colorSeis: rgb(73, 161, 87);

