//color fondo contenedores
$colorUno: rgb(5, 84, 13);
//color fondo items
$colorDos: rgb(21, 102, 29);
//color letra
$colorTres: rgb(228, 228, 228);
//color letra navbar
$colorCuatro: rgb(126, 89, 9);
//color btns
$colorCinco: rgb(90, 199, 88);
/*
//color fondo contenedores
$colorUno: rgb(123, 191, 130);
//color fondo items
$colorDos: rgb(66, 150, 75);
//color letra
$colorTres: rgb(237, 237, 237);
//color letra navbar
$colorCuatro: rgb(182, 130, 19);
//color btns
$colorCinco: rgb(130, 224, 104);
*/
